.mantine-Table-table,
.mantine-Accordion-content {
  background-color: #fff;
}
.mantine-Accordion-control[data-active='true'] {
  background-color: var(--mantine-color-indigo-1);
  color: var(--mantine-color-indigo-8);
}
.mantine-Accordion-control .mantine-Accordion-label {
  font-weight: 600;
}
.mantine-Accordion-item {
  /* margin-bottom: 1rem; */
  background-color: #fff !important;
  border: 1px solid #dee2e6 !important;
}
